<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.css">

    <link rel="shortcut icon" href="/static/img/techsallus logo.png" type="image/x-icon">
    <title>Relatório de Cards</title>
</head>
<body>
    <header>
        <div class="logo">
            <img src="../static/img/techsallus logo.png" alt="" class="img-logo">
        </div>

    </header>

    <main>

        <div class="box-button">
            <h2>Relatórios Techsallus</h2>
            <button id="btnCards" type="button">Relatório de Cards</button>
            <button id="btnListas" type="button">Relatório Leadtime</button>
        </div>

        <form class="cards" id="form_cards">
            <div>
                <button class="sair" type="button">X</button>
            </div>
            <h2>Relatório de Cards</h2>

            <label for="data-inicio">Data Início</label>
            <input type="date" name="data-inicio" id="data-inicio" max="9999-12-31">

            <label for="data-fim">Data Fim</label>
            <input type="date" name="data-fim" id="data-fim" max="9999-12-31">
            
            <button class="csv" type="submit">Gerar Relatório</button>
        </form>

        <form class="listas" id="form_lead">
            <div>
                <button class="sair" type="button">X</button>
            </div>
            <h2>Relatório Leadtime</h2>

            <label for="data-inicio_lead">Data Início</label>
            <input type="date" name="data-inicio_lead" id="data-inicio_lead" max="9999-12-31">

            <label for="data-fim_lead">Data Fim</label>
            <input type="date" name="data-fim_lead" id="data-fim_lead" max="9999-12-31">

            <button class="csv" type="submit">Gerar Relatório</button>
        </form>
        
    </main>
    

    <script src="../static/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/toastify-js@1.12.0/src/toastify.min.js"></script>
</body>
</html>
